body {
  background-color: #FFC7C7;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
      height: 0px;
      width: 10%;
}
h1 {
color: purple;
}
h3 {
  color: #734046;
}
img{
  height: 300px;
}
